extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Web Development Portfolio

      p.lead.text-light
        | Welcome to my portfolio. Projects presented here use numerous front-end and sever-side technologies. Feel free to filter the projects by technology using the buttons below. You can find full descriptions of each project on the individual project pages and view the repository to get a better look at the underlying code. Live demonstration pages are available for most projects. 
  .tech-btn-wrapper

      each tech in techs
        a.tech-btn.button.round= tech

  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-3.large-up-4
          
      each project in projects
        - var projectTechs = [project.technologies[0], project.technologies[1], project.technologies[2]]
        div.cell.poster(techs=projectTechs)
          a.poster-img(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0])
            h5= project.project_name
  
  