extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        
        h1 #{projects[req.params.id].project_name}
        p.lead.text-light
          | #{projects[req.params.id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        a.button.expanded.round(href= projects[req.params.id].live_link target='_blank') Live Demo
        a.button.expanded.round(href= projects[req.params.id].github_link target='_blank') GitHub Repository

        br
        h6 Technologies
        ul
        each technology in projects[req.params.id].technologies
          li= technology

    .grid-x
      .slideshow-container
        a.prev(onclick="plusSlides(-1)") &lt;
        .mySlides.fade
          .numbertext 1/ 3 
          img.project-image(src= projects[req.params.id].image_urls[1])
          .text= projects[req.params.id].captions[0]
        .mySlides.fade
          .numbertext 2/ 3 
          img.project-image(src= projects[req.params.id].image_urls[2])
          .text= projects[req.params.id].captions[1]
        .mySlides.fade
          .numbertext 3/ 3 
          img.project-image(src= projects[req.params.id].image_urls[3])
          .text= projects[req.params.id].captions[2]
        a.next(onclick="plusSlides(1)") &gt;
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Achievements
        ul.achievements-list
          each achievement in projects[req.params.id].achievements
            li= achievement

      br
      div.dot-container(style="text-align:center")
        span.dot(onclick="currentSlide(1)")
        span.dot(onclick="currentSlide(2)")
        span.dot(onclick="currentSlide(3)")
